[submodule "themes/stip-hugo"]
	path = themes/stip-hugo
	url = https://github.com/EmielH/stip-hugo
[submodule "themes/hugograyscale"]
	path = themes/hugograyscale
	url = https://github.com/runningstream/hugograyscale
